.card-wrapper .list-filter .list-srch {
    max-width: 500px !important;
}
.statusButton {
    padding-top: 0px !important;
}
.clearfix {
    position: relative;
    left: 245%;
    font-size: 14px;
}
