<div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
        <span class="icon-cross-round"></span>
    </button>
</div>
<div class="modal-body">
    <div class="import-data">
        <div class="head-row d-flex flex-column align-items-center">
            <span class="icons-row">
                <img src="../../../../assets/images/icons/record-sheet.png" alt="record">
            </span>
            <h2>2000 records imported successfully.</h2>
        </div>
        <div class="button-row text-center">
            <button class="btn btn-primary">
                New Participants
            </button>
        </div>
    </div>
</div>