<div class="profile-breif-card flex-fill">
    <div class="head-blc d-flex align-items-center has-right-elem">
        <h2>PC: PP-001</h2>
        <label class="checkbox-cell d-flex align-items-center ms-auto">
            <span class="txt">Select</span>
            <input type="checkbox" name="remember" class="position-absolute" formControlName="remember">
            <span class="d-inline-flex align-items-center justify-content-center icon">
                <span class="icon-check"></span>
            </span>
        </label>
    </div>
    <div class="inner d-flex">
        <div class="pic-cell rounded-circle">
            <img class="img-fluid rounded-circle" src="../../../../assets/images/user.png" alt="User">
        </div>
        <div class="txt-cell">
            <p>
                <label>
                    First Name:
                </label>
                <span>
                    Robert
                </span>
            </p>
            <p>
                <label>
                    Last Name:
                </label>
                <label>
                    Wilson
                </label>
            </p>
            <p>
                <label>
                    Email Address:
                </label>
                <span>
                    robertwilson@ab.com
                </span>
            </p>
            <p>
                <label>
                    Active/Inactive:
                </label>
                <span>
                    Active
                </span>
            </p>
            <p>
                <label>
                    Status:
                </label>
                <span>
                    <span class="status-cell bg-success-dark">
                        Accepted
                    </span>
                    <span class="status-cell bg-danger-dark">
                        Decline
                    </span>
                </span>
            </p>
        </div>
    </div>
<div class="foot-blc d-flex align-items-center justify-content-end">
    <button class="view btn btn-link shadow-none text-decoration-none">
        <span class="icon-eye"></span>
    </button>
    <button class="task-doc-check btn btn-link shadow-none text-decoration-none">
        <span class="icon-task-doc-check"></span>
    </button>
    <button class="delete btn btn-link shadow-none text-decoration-none text-danger">
        <span class="icon-trash2"></span>
    </button>
</div>
</div>