<div class="user-listing card-wrapper">
    <div class="head-blc">
        <h2>Recent Participants</h2>
    </div>
    <div class="inner-blc">
        <a *ngFor="let item of tempItem" href="#" class="list-item d-flex align-items-center">
            <span class="pic-cell d-inline-flex rounded-circle">
                <img class="img-fluid" src="../../../../../assets/images/recent-list-item-pic.png" alt="User" />
            </span>
            <span class="txt-cell">
                <h3>Eliza Ann</h3>
                <h4>Donec at lorem ac purus</h4>
            </span>
        </a>
    </div>
    <div class="foot-blc text-end">
        <a href="#">View All Participants</a>
    </div>
</div>