@import "../scss/theme/variables";

.card {
  border: 1px solid rgba(154, 157, 161, 0.43);
  margin-bottom: 5px;
  .card-header {
    padding: 0;
    border-bottom: none;
    background-color: transparent;
    .head-blc {
      border-left: 4px solid $primary2;
      padding: 10px 16px;
      &:hover {
        background-color: #fafbfd;
      }
      h2 {
        font-size: 22px;
        margin: 0 20px 0 0;
        color: $primary2;
      }
      .icons-cell {
        span {
          display: inline-flex;
          font-size: 14px;
          transition: all ease 0.3s 0s;
          transform: rotate(0deg);
        }
      }
    }
  }
  .head-blc.with-button {
    padding: 8px 21px;
  }
  .card-body {
    padding: 0;
    .inner-block {
      padding: 16px 20px;
      .check-list-blc {
        .checkbox-cell {
          margin: 0 0 6px 0;
        }
      }
    }
  }
}
.panel-open {
  .card-header {
    border-bottom: 1px solid rgba(154, 157, 161, 0.5);
    .head-blc {
      .icons-cell {
        span {
          transform: rotate(90deg);
        }
      }
    }
  }
}
