@import "../scss/theme/variables";

// Base-Layout
.card-wrapper {
  border-radius: 1px;
  box-shadow: 0 3px 12px #bfbfbf;
  border: none;
  background-color: #fff;
  .card-wrapper-ttl {
    font-size: 22px;
    font-weight: normal;
    h2 {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
  > .inner-body.padd {
    padding: 20px 25px;
    @media (max-width: 1150px) {
      padding: 20px;
    }
    @media (max-width: 767px) {
      padding: 16px;
    }
  }
  > .inner-body.padd2 {
    padding: 20px 30px 40px;
    @media (max-width: 1150px) {
      padding: 20px;
    }
    @media (max-width: 767px) {
      padding: 16px;
    }
  }
  > .head-blc {
    border-bottom: 3px solid rgba(219, 210, 210, 0.3);
    border-left: 4px solid $primary2;
    padding: 12px 21px;
    @media (max-width: 767px) {
      padding: 8px 16px;
    }
    h2 {
      font-size: 22px;
      margin-bottom: 0;
      @media (max-width: 1150px) {
        font-size: 20px;
      }
    }
    .right-col {
      .back-btn {
        font-size: 20px;
        padding: 4px 9px;
        &:hover,
        &:focus {
          color: $primary;
        }
        span {
          font-size: 10px;
          margin-right: 5px;
          margin-top: 0;
        }
      }
      .location-lbl {
        font-size: 22px;
        font-weight: bold;
        @media (max-width: 1150px) {
          font-size: 20px;
        }
        span {
          font-size: 18px;
          font-weight: normal;
          margin-left: 6px;
        }
      }
    }
  }

  > .head-blc.with-button {
    padding: 8px 21px;
  }
  > .foot {
    border-radius: 0 0 5px 5px;
    padding: 0 21px;
    background-color: #f1efef;
    position: relative;
    bottom: -5px;
    min-height: 55px;
    a {
      margin: 0 0 0 15px;
    }
  }
  > .foot-blc {
    padding: 14px;
    a {
      text-decoration: underline;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      span {
        margin-left: 5px;
        svg {
          width: 8px;
          height: auto;
          fill: $primary2;
        }
      }
    }
  }

  // Custom-Elements
  .list-filter {
    margin-bottom: 12px;
    .list-srch {
      max-width: 312px;
      width: 100%;
      h3 {
        font-size: 18px;
        margin-right: 11px;
        margin-bottom: 0;
      }
    }
  }
  .list-btns {
    margin-bottom: 32px;
    @media (max-width: 1150px) {
      margin-bottom: 20px;
    }
    .apply-filter-btn {
      min-width: 117px;
    }
    .btn {
      min-width: 107px;
    }
  }
  .list-btns.multiple {
    margin-bottom: 25px;
    .btn {
      margin-right: 12px;
      margin-bottom: 7px;
    }
  }
  .source-search {
    margin-bottom: 35px;
    @media (max-width: 1150px) {
      margin-bottom: 20px;
    }
    @media (max-width: 950px) {
      flex-direction: column !important;
      align-items: unset !important;
    }
    > .left {
      max-width: 600px;
      width: 100%;
      margin-right: 20px;
      .source-input {
        @media (max-width: 400px) {
          flex-direction: column;
          align-items: unset !important;
        }
        > .left {
          margin-right: 22px;
          @media (max-width: 400px) {
            margin-bottom: 10px;
          }
          label {
            color: #333;
            margin-bottom: 2px;
          }
        }
        .btn {
          min-width: 92px;
        }
      }
    }
    > .right {
      margin-top: 40px;
      @media (max-width: 950px) {
        margin-top: 20px;
      }
    }
  }
  .dropdown-cell {
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start !important;
    }
    label {
      margin-right: 10px;
      @media (max-width: 480px) {
        margin: 0 0 5px 0;
      }
    }
    .form-control {
      width: 222px;
    }
  }
  .title-desc {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    span {
      font-weight: normal;
      color: #707070;
    }
  }
  .user-appointment-rw {
    margin-bottom: 25px;
    h3 {
      font-size: 22px;
      font-weight: bold;
    }
    h4 {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
.card-wrapper.flat {
  box-shadow: none;
  border: 1px solid #d4d5d9;
  border-radius: 4px;
}

.card-wrapper2 {
  background-color: #f5f5f5;
  border: 1px solid #e6e4e4;
  .head-blc2 {
    padding: 26px 41px 0;
    margin-bottom: -12px;
    @media (max-width: 1150px) {
      padding: 20px 20px 0;
    }
    @media (max-width: 767px) {
      padding: 16px 16px 0;
    }
    @media (max-width: 550px) {
      flex-direction: column;
    }
    h2 {
      font-size: 22px;
      margin: 0 15px 10px 0;
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
    .rt-col {
      margin-bottom: 10px;
      @media (max-width: 550px) {
        margin-left: unset !important;
      }
      .btn {
        width: 96px;
        margin-right: 10px;
      }
    }
  }
  .inner-body {
    padding: 30px 40px 16px;
    @media (max-width: 1150px) {
      padding: 20px;
    }
    @media (max-width: 767px) {
      padding: 16px;
    }
  }
}

.card-wrapper3 {
  background-color: #fff;
  border: 1px solid $primary2;
  box-shadow: 0 3px 12px #00000029;
  border-radius: 1px;
  .inner-body {
    padding: 25px;
  }
}

.card-wrapper2.shadow {
  box-shadow: 0 3px 12px #00000029 !important;
}

.card-wrapper.invite {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

// Collapsable
.card-wrapper.card-collapse {
  background: none;
  border: none;
  > .head-blc,
  > .inner-body {
    background-color: #fff;
  }
  > .head-blc {
    border-top: 1px solid #d4d5d9;
    border-right: 1px solid #d4d5d9;
    border-bottom: 1px solid #d4d5d9;
    border-bottom: 3px solid rgba(219, 210, 210, 0.3);
    border-radius: 4px;
    position: relative;
    transition: all ease 0.3s 0s;
    .right-col {
      .toggle-btn {
        width: 30px;
        span {
          &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 12px;
            background-color: #bdbdbd;
          }
        }
        &:hover {
          span {
            &::after {
              background-color: $primary;
            }
            &::before {
              background-color: $primary !important;
            }
          }
        }
      }
      .close-btn {
        width: 30px;
        span {
          &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 12px;
            background-color: #bdbdbd;
            transform: rotate(-45deg);
          }
          &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: 12px;
            background-color: #bdbdbd;
            transform: rotate(45deg);
          }
        }
        &:hover {
          span {
            &::after {
              background-color: $danger-dark;
            }
            &::before {
              background-color: $danger-dark;
            }
          }
        }
      }
    }
  }

  .collpase-body {
    background-color: #fff;
    border: 1px solid #d4d5d9;
    border-radius: 0 0 4px 4px;
    border-top: none;
    margin-top: -3px;
    > .inner-body {
      padding: 30px 40px 16px;
      @media (max-width: 1150px) {
        padding: 20px;
      }
      @media (max-width: 767px) {
        padding: 16px;
      }
    }
  }
}
.card-wrapper.card-collapse.active {
  > .head-blc {
    border-bottom: 1px solid #d4d5d9;
    .right-col .toggle-btn {
      span::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 12px;
        background-color: #bdbdbd;
        transform: rotate(90deg);
      }
    }
  }
}

// Card Style Without Header Footer
.card-grey {
  background-color: rgba(229, 229, 229, 0.51);
  border-radius: 3px;
}
.card-grey.border {
  border: 1px solid rgba(154, 157, 161, 0.51);
}
