// Theme
@import "./table";
@import "./_dropdown";
@import "./tabs";
@import "./form-common-elements";
@import "./card";
@import "./panel";
@import "./pagination";
@import "./modal";
@import "./modal-tabs";
@import "./checkbox";
@import "./radiobox";
@import "./calendar";
@import "./size";
@import "./title";
@import "./space-sections";

// Style
@import "./profile-breif-card";
@import "./profile-breif-card2";
@import "./profile-breif-card3";
@import "./dashboard-graph-card";
@import "./breif-card";
@import "./breif-card2";
@import "./invite-section";
@import "./invite-profile";
@import "./user-photo";
@import "./breadcrumb";
@import "./accordions";
@import "./comment-block";
@import "./study-summary-block";
@import "./upload-file-block";
@import "./message-center";
@import "./_drag-drop-block.scss";
@import "./payment-information";
@import "./reminder-list";
@import "./task-list";
@import "./assessment";
@import "./block-section";
@import "./upload-sign-block";
@import "./title-breif-card";
@import "./clinical-visit";

html,
body {
  height: 100%;
  background-color: #eff5f7;
  font-family: "Calibri";
  font-weight: normal;
  font-size: 16px;
  color: $base-color;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $primary-dark;
  }
}

a.text-primary {
  &:hover,
  &:focus {
    color: $primary-dark;
  }
}
a.text-primary2 {
  &:hover,
  &:focus {
    color: $primary2-dark !important;
  }
}
a.text-danger {
  &:hover,
  &:focus {
    color: $danger-dark !important;
  }
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.page-inner {
  margin: 40px 40px 0;
  @media (max-width: 1150px) {
    margin: 20px;
  }
  @media (max-width: 767px) {
    margin: 16px;
  }
}
.page-inner.white-bg {
  background-color: #fff;
  border: 1px solid #d4d5d9;
  border-radius: 4px;
  padding: 24px 34px;
  @media (max-width: 767px) {
    padding: 16px;
  }
}
.page-inner.with-breadcrumb {
  margin-top: 17px;
  margin-bottom: 17px;
}

// FONT-FACE
@font-face {
  font-family: "icomoon";
  src: url("../fonts-icon/icomoon.eot?4nst7d");
  src: url("../fonts-icon/icomoon.eot?4nst7d#iefix") format("embedded-opentype"),
    url("../fonts-icon/icomoon.ttf?4nst7d") format("truetype"), url("../fonts-icon/icomoon.woff?4nst7d") format("woff"),
    url("../fonts-icon/icomoon.svg?4nst7d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-trash2:before {
  content: "\e95d";
}
.icon-wire-transfer:before {
  content: "\e900";
}
.icon-video:before {
  content: "\e901";
}
.icon-user-setting2:before {
  content: "\e902";
}
.icon-user-setting:before {
  content: "\e903";
}
.icon-user-plus-line:before {
  content: "\e904";
}
.icon-user-line-round:before {
  content: "\e905";
}
.icon-user-line:before {
  content: "\e906";
}
.icon-user-group-line3:before {
  content: "\e907";
}
.icon-user-group-line2-2:before {
  content: "\e908";
}
.icon-user-group-line2:before {
  content: "\e909";
}
.icon-user-group-line:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-triange-right:before {
  content: "\e90c";
}
.icon-triange-down:before {
  content: "\e90d";
}
.icon-trash:before {
  content: "\e90e";
}
.icon-task-doc-check:before {
  content: "\e90f";
}
.icon-task-doc2:before {
  content: "\e910";
}
.icon-task-doc:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-staffs-check:before {
  content: "\e913";
}
.icon-sort:before {
  content: "\e914";
}
.icon-settting:before {
  content: "\e915";
}
.icon-send:before {
  content: "\e916";
}
.icon-search-monitor:before {
  content: "\e917";
}
// .icon-search:before {
//   content: "\e918";
// }
// for Testing purpose
// .icon-cross-round:before {
//   content: "\e918";
// }
.icon-dashboard:before {
  content: "\e919";
}
.icon-procedure .path2:before {
  content: "\e91a";
  margin-left: 0;
}
.icon-procedure .path3:before {
  content: "\e91b";
  margin-left: -1em;
}
.icon-procedure .path4:before {
  content: "\e91c";
  margin-left: -1em;
}
.icon-procedure .path5:before {
  content: "\e91d";
  margin-left: -1em;
}
.icon-plus-round:before {
  content: "\e91e";
}
.icon-phone-line:before {
  content: "\e91f";
}
.icon-payment-hand-coin:before {
  content: "\e920";
}
.icon-minus-round:before {
  content: "\e921";
}
.icon-manage .path1:before {
  content: "\e922";
}
.icon-manage .path2:before {
  content: "\e923";
  margin-left: -0.9990234375em;
}
.icon-manage .path3:before {
  content: "\e924";
  margin-left: -0.9990234375em;
}
.icon-manage .path4:before {
  content: "\e925";
  margin-left: -0.9990234375em;
}
.icon-manage .path5:before {
  content: "\e926";
  margin-left: -0.9990234375em;
}
.icon-manage .path6:before {
  content: "\e927";
  margin-left: -0.9990234375em;
}
.icon-manage .path7:before {
  content: "\e928";
  margin-left: -0.9990234375em;
}
.icon-manage .path8:before {
  content: "\e929";
  margin-left: -0.9990234375em;
}
.icon-logout:before {
  content: "\e92a";
}
.icon-lock:before {
  content: "\e92b";
}
.icon-inventory:before {
  content: "\e92c";
}
.icon-inbox:before {
  content: "\e92d";
}
.icon-history-man:before {
  content: "\e92e";
}
.icon-heart-beat:before {
  content: "\e92f";
}
.icon-hamburger:before {
  content: "\e930";
}
.icon-folder-open:before {
  content: "\e931";
}
.icon-folder:before {
  content: "\e932";
}
.icon-eye-line-close:before {
  content: "\e933";
}
.icon-eye:before {
  content: "\e934";
}
.icon-envelope-email:before {
  content: "\e935";
}
.icon-envelope:before {
  content: "\e936";
}
.icon-edit-pencil:before {
  content: "\e937";
}
.icon-edit:before {
  content: "\e938";
}
.icon-download:before {
  content: "\e939";
}
.icon-docs2:before {
  content: "\e93a";
}
.icon-doc-line:before {
  content: "\e93b";
}
.icon-doc-duble:before {
  content: "\e93c";
}
.icon-doc-check:before {
  content: "\e93d";
}
.icon-database:before {
  content: "\e93e";
}
.icon-dashboard:before {
  content: "\e93f";
}
.icon-cross-round:before {
  content: "\e940";
}
.icon-clock-line:before {
  content: "\e941";
}
.icon-clinical:before {
  content: "\e942";
}
.icon-clinic:before {
  content: "\e943";
}
.icon-checkbox-uncheck:before {
  content: "\e944";
}
.icon-checkbox-check .path1:before {
  content: "\e945";
  color: rgb(51, 51, 51);
}
.icon-checkbox-check .path2:before {
  content: "\e946";
  margin-left: -1em;
}
.icon-checkbook:before {
  content: "\e947";
}
.icon-check:before {
  content: "\e948";
}
.icon-chat-line:before {
  content: "\e949";
}
.icon-certificate .path1:before {
  content: "\e94a";
}
.icon-certificate .path2:before {
  content: "\e94b";
  margin-left: -1em;
}
.icon-certificate .path3:before {
  content: "\e94c";
  margin-left: -1em;
}
.icon-certificate .path4:before {
  content: "\e94d";
  margin-left: -1em;
}
.icon-certificate .path5:before {
  content: "\e94e";
  margin-left: -1em;
}
.icon-certificate .path6:before {
  content: "\e94f";
  margin-left: -1em;
}
.icon-certificate .path7:before {
  content: "\e950";
  margin-left: -1em;
}
.icon-certificate .path8:before {
  content: "\e951";
  margin-left: -1em;
}
.icon-certificate .path9:before {
  content: "\e952";
  margin-left: -1em;
}
.icon-calendar-line:before {
  content: "\e953";
}
.icon-calendar:before {
  content: "\e954";
}
.icon-bell:before {
  content: "\e955";
}
.icon-arrow-upload:before {
  content: "\e956";
}
.icon-arrow-right:before {
  content: "\e957";
}
.icon-arrow-left:before {
  content: "\e958";
}
.icon-arrow-double:before {
  content: "\e959";
}
.icon-angle-right:before {
  content: "\e95a";
}
.icon-angle-down:before {
  content: "\e95b";
}
.icon-alert-line:before {
  content: "\e95c";
}
.icon-wondering:before {
  content: "\e9fb";
}

.overflow-auto {
  overflow-y: auto;
}
