@import "../scss/theme/variables";

.modal {
  .modal-dialog {
    padding: 15px;
    @media (max-width: 575px) {
      margin: 0;
    }
  }
  .modal-content {
    border: none;
    .modal-header {
      background-color: $primary2;
      padding: 10px 25px;
      color: #fff;
      opacity: 1;
      @media (max-width: 767px) {
        padding: 4px 25px;
      }
      .modal-title {
        font-size: 22px;
        margin-right: 20px;
        @media (max-width: 767px) {
          font-size: 20px;
          margin-right: 20px;
        }
      }
      .btn-close {
        background: none;
        color: #fff;
        opacity: 1;
        box-shadow: none;
        padding: 0;
        margin: 0 -10px 0 0;
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 24px;
        }
      }
    }
    .modal-body {
      padding: 25px;
      @media (max-width: 1150px) {
        padding: 20px;
      }
      @media (max-width: 767px) {
        padding: 16px;
      }
    }
  }
}
.reocord-msg-modal {
  .modal-content {
    .btn {
      min-width: 203px;
    }
  }
}

// modal-type 2
.modal-flat {
  .modal-content {
    border-radius: 0;
  }
}

// SIZES
.modal-md {
  max-width: 532px;
}
.modal-lg {
  max-width: 788px;
}
.modal-xlg {
  max-width: 1115px;
}
