@import "../scss/theme/variables";

// Size for Input, Buttons
.layout-md {
  .form-control,
  .browse-file-blc {
    height: 40px;
    line-height: normal;
  }
  textarea.form-control {
    height: 87px;
    resize: none;
  }
  textarea.form-control.description-area {
    height: 250px;
  }
  .btn {
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
