<div class="comment-blc d-flex layout-md full-screen-responive">
    <div class="left-col">
        <div class="user-pic rounded-circle">
            <img class="img-fluid" src="../../../../../../assets/images/user.png" alt="User">
        </div>
    </div>
    <div class="right-col">
        <div class="head d-flex">
            <h2>John Doe</h2>
            <div class="right-col d-inline-flex ms-auto time-cell">
                <span>17th Aug 2021</span>
                <span>15 min ago</span>
            </div>
        </div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen
            book.
        </p>
        <div class="button-rw text-end multiple">
            <button class="btn btn-primary">
                <span class="icon-edit-pencil"></span>
                Edit
            </button>
            <button class="btn btn-primary">
                <span class="icon-arrow-left"></span>
                Reply
            </button>
        </div>
    </div>
</div>