<div class="page-inner layout-md">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc">
                <h2>Preselection Document</h2>
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Confidentiality Agreement
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="upload-consent-wrapper">
                                    <div class="section-row">
                                        <div class="consent-txt-blc">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta quam
                                                dui, in bibendum
                                                purus imperdiet sed. Sed ut
                                                elit egestas, accumsan eros et, pellentesque ligula. In molestie
                                                consequat nunc in
                                                fermentum.
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-2">
                                                    <label>
                                                        Browse
                                                    </label>
                                                    <div class="upload-file-blc d-flex">
                                                        <div class="left-col flex-fill">
                                                            <div class="browse-file-blc d-flex position-relative">
                                                                <input class="form-control position-absolute"
                                                                    type="file" id="attachment" multiple>
                                                                <button
                                                                    class="btn btn-link position-relative text-decoration-none">
                                                                    Choose File

                                                                </button>
                                                                <div
                                                                    class="input-cell d-flex align-items-center flex-fill">
                                                                    <span>No file chosen</span>
                                                                </div>
                                                            </div>
                                                            <div class="msg">
                                                                Accepted File Type: JPG, PNG, doc and Docx
                                                                only
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Field Error Message.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="consent-link-rw text-end">
                                            <a href="" class="text-decoration-underline">
                                                Audit Log
                                            </a>
                                        </div>
                                        <div class="form-group consent-comment-blc">
                                            <label for="leaveComment">
                                                Comment
                                            </label>
                                            <textarea id="leaveComment" type="text" name="leaveComment"
                                                class="form-control"></textarea>
                                            <div class="invalid-feedback">
                                                Field Error Message.
                                            </div>
                                        </div>
                                        <div class="card-wrapper">
                                            <div class="inner-body padd">
                                                <div class="invite-wrapper">
                                                    <div class="invite-section">
                                                        <div class="head">
                                                            <h2>Confidentially01. PDF</h2>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Mauris tempor eros
                                                                suscipit
                                                                consequat blandit. Nam eget lectus
                                                                quis lorem rutrum viverra non in libero. Aliquam lectus
                                                                justo, volutpat nec
                                                                nunc
                                                                eget.
                                                            </p>
                                                        </div>
                                                        <div class="info-row d-flex">
                                                            <div class="left-col info-col d-flex flex-wrap">
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Conditions:
                                                                    </span>
                                                                    Covid-19
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Organization Name:
                                                                    </span>
                                                                    Pharma Company
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Status:
                                                                    </span>
                                                                    Approved
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foot d-flex align-items-center justify-content-end">
                                                <a href="">
                                                    <span class="icon-download"></span>
                                                </a>
                                                <a href="" class=" text-danger-dark">
                                                    <span class="icon-trash2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-btns text-end  mt-5">
                                            <button class="btn btn-primary">
                                                Save
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Feasibility Questionnaire
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                Feasibility Questionnaire
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Preselection Visit
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <section class="section-row">
                                    <div class="card-wrapper mb-3">
                                        <div class="inner-body padd">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta quam
                                                dui, in bibendum purus imperdiet sed. Sed ut
                                                elit egestas, accumsan eros et, pellentesque ligula. In molestie
                                                consequat
                                                nunc in fermentum. Pellentesque eget quam id
                                                lacus laoreet congue. Maecenas id tortor diam. Nullam laoreet eleifend
                                                auctor. Nunc id rhoncus neque.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <a href="" class="text-decoration-underline">
                                            Audit Log
                                        </a>
                                    </div>
                                </section>
                                <section class="section-row">
                                    <div class="form-wrapper">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="visitTitle">
                                                        Visit Title
                                                    </label>
                                                    <input id="visitTitle" type="text" name="visitTitle"
                                                        class="form-control">
                                                    <div class="invalid-feedback">
                                                        Field Error Message.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="site">
                                                        Site
                                                    </label>
                                                    <select class="form-select form-control" id="site">
                                                        <option selected>www.abc.com</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Field Error Message.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="contactPerson">
                                                        Contact Person
                                                    </label>
                                                    <input id="contactPerson" type="text" name="contactPerson"
                                                        class="form-control">
                                                    <div class="invalid-feedback">
                                                        Field Error Message.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="contactPerson">
                                                        Contact Person
                                                    </label>
                                                    <input id="contactPerson" type="text" name="contactPerson"
                                                        class="form-control">
                                                    <div class="invalid-feedback">
                                                        Field Error Message.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="time-date-rw d-flex">
                                                    <div class="form-group">
                                                        <label for="date">Date</label>
                                                        <div class="input-cell right d-flex position-relative">
                                                            <span
                                                                class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                                                                <span class="icon-calendar-line"></span>
                                                            </span>
                                                            <input bsDatepicker type="text" name="date" id="date"
                                                                class="form-control">
                                                        </div>
                                                        <div class="invalid-feedback">This Feild is Required.</div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="time">Time</label>
                                                        <div class="input-cell right d-flex position-relative">
                                                            <span
                                                                class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                                                                <span class="icon-clock-line"></span>
                                                            </span>
                                                            <input type="text" name="time" id="time"
                                                                class="form-control">
                                                        </div>
                                                        <div class="invalid-feedback">This Feild is Required.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group consent-comment-blc">
                                                <label for="comment">
                                                    Comment
                                                </label>
                                                <textarea id="comment" type="text" name="comment"
                                                    class="form-control"></textarea>
                                                <div class="invalid-feedback">
                                                    Field Error Message.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-btns text-end">
                                                <button class="btn btn-primary">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="section-row">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Site</th>
                                                    <th scope="col">Visit Title</th>
                                                    <th scope="col">Contact Person</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Phone No</th>
                                                    <th scope="col">Date</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of tempItem">
                                                    <td>
                                                        Site 1
                                                    </td>
                                                    <td>Mauris tempor eros suscipit</td>
                                                    <td>Amanda Hug</td>
                                                    <td>amandahug25@gmail.com</td>
                                                    <td>202-555-0138</td>
                                                    <td>
                                                        9/9/2021 - 3:00 PM
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Decision Documentation
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                Decision Documentation
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>