@import './_variables';

.badge {
  color: $base-color;
}

.badge-primary {
  background-color: $primary;
}

// .badge-secondary {
//   background-color: $secondary;
// }

.badge-success {
  background-color: $success;
}

.badge-danger {
  background-color: $danger;
}