<div class="login-wrapper d-flex flex-column flex-fill position-relative">
    <div class="top-pic position-absolute">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="2500px" height="186px" viewBox="-567.453 0.597 2500 186"
            enable-background="new -567.453 0.597 2500 186" xml:space="preserve">
            <path id="Path_1167"
                d="M1932.454,28.098c0,0-152.951-47-596.483-13
    	C881.442,46.934,697.162,189.884,216.974,186.619c-480.186-3.266-784.427-104.488-784.427-104.488V0.5h2499.907V28.098z" />
        </svg>

    </div>
    <div class="container m-auto">
        <div class="loign-rw d-flex align-items-center">
            <div class="login-lft">
                <h6>Welcome to</h6>
                <h2>CR<span class="text-primary">Link</span></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitraesent necduiaterat cursus vestibulumtiam eu
                    egestas
                    nibhsit
                    amet dictum exullam quis lacus orciulla facilisi.
                </p>
                <a  [routerLink]="['/auth/sign-in']" class="text-primary link">Go to Home</a>
            </div>
            <div class="login-rt">
                <div class="login-bx">
                    <div class="form-hd-icon text-center">
                        <img class="img-fluid" src="../../../../assets/images/icons/lock-round.svg" />
                    </div>
                    <div class="form-hd-ttl forgot text-center">
                        <h3>Forgot Password?</h3>
                        <p>
                            Enter the email address or phone number associated with your account
                        </p>
                    </div>
                    <div class="inner-blc">
                        <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-cell d-flex position-relative">
                                    <span
                                        class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19.058" height="14.294"
                                            viewBox="0 0 19.058 14.294">
                                            <path id="envelope"
                                                d="M17.271,59.882H1.787A1.789,1.789,0,0,0,0,61.669v10.72a1.789,1.789,0,0,0,1.787,1.787H17.271a1.789,1.789,0,0,0,1.787-1.787V61.669A1.789,1.789,0,0,0,17.271,59.882Zm0,1.191a.592.592,0,0,1,.228.046L9.529,68.027,1.558,61.119a.593.593,0,0,1,.228-.046Zm0,11.911H1.787a.6.6,0,0,1-.6-.6V62.378l7.948,6.888a.6.6,0,0,0,.781,0l7.948-6.888V72.389A.6.6,0,0,1,17.271,72.984Z"
                                                transform="translate(0 -59.882)" />
                                        </svg>
                                    </span>
                                    <input type="email" class="form-control" id="email" formControlName="Email">
                                </div>
                                <div class="invalid-feedback">This Feild is Required.</div>
                            </div>
                            <div class="form-group login-link-rw d-flex">
                                <button type="submit" class="btn btn-primary flex-fill">
                                    Reset my password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-pic position-absolute">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="2500px" height="456px" viewBox="-567.482 0.595 2500 456"
            enable-background="new -567.482 0.595 2500 456" xml:space="preserve">
            <path id="Path_1166" d="M-567.328,256.688c0,0,130.974,126,594.994,48
      	c464.022-78,639.901-312,1130.118-304s774.734,257.228,774.734,257.228v198.678h-2500L-567.328,256.688z" />
        </svg>
    </div>
</div>