<div class="row">
    <div class="col-xl-3 col-md-6 d-flex breif-card-col2">
        <a href="#" class="d-flex flex-column flex-fill primary-gradient">
            <div class="inner-rw d-flex align-items-center">
                <div class="left flex-fill">
                    <h3>
                        Completed
                        <span class="d-block">
                            Trials
                        </span>
                    </h3>
                </div>
                <div class="count-cell d-inline-flex align-items-center justify-content-center">
                    25
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 d-flex breif-card-col2">
        <a href="#" class="d-flex flex-column flex-fill success-gradient">
            <div class="inner-rw d-flex align-items-center">
                <div class="left flex-fill">
                    <h3>
                        Inprogress
                        <span class="d-block">
                            Trials
                        </span>
                    </h3>
                </div>
                <div class="count-cell d-inline-flex align-items-center justify-content-center">
                    20
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 d-flex breif-card-col2">
        <a href="#" class="d-flex flex-column flex-fill warning-gradient">
            <div class="inner-rw d-flex align-items-center">
                <div class="left flex-fill">
                    <h3>
                        Suspended
                        <span class="d-block">
                            Trials
                        </span>
                    </h3>
                </div>
                <div class="count-cell d-inline-flex align-items-center justify-content-center">
                    5
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 d-flex breif-card-col2">
        <a href="#" class="d-flex flex-column flex-fill danger-gradient">
            <div class="inner-rw d-flex align-items-center">
                <div class="left flex-fill">
                    <h3>
                        Terminated
                        <span class="d-block">
                            Trials
                        </span>
                    </h3>
                </div>
                <div class="count-cell d-inline-flex align-items-center justify-content-center">
                    10
                </div>
            </div>
        </a>
    </div>
</div>