.section-row.breif-card {
  margin-bottom: 32px;
}

.recent-wrapper {
  @media (max-width: 1150px) {
    flex-direction: column;
  }
  .left-col {
    margin-right: 34px;
    @media (max-width: 1150px) {
      margin-right: 0;
    }
    .row-blc {
      margin-bottom: 27px;
    }
  }
  .right-col {
    min-width: 266px;
  }
}
