<div class="page-inner layout-md">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc">
                <h2>Study Summary</h2>
            </div>
            <div class="inner-body padd">
                <div class="study-summary-wrapper d-flex">
                    <div class="left-col flex-fill">
                        <div class="head">
                            <h3>
                                COVID-19 and Liver Injury in Patients With or Without Underlying Liver
                                Disease:

                            </h3>
                            <h4>
                                A Multi-centre Retrospective-prospective
                                Observational Study
                            </h4>
                        </div>
                        <div class="inner">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta quam
                                dui, in
                                bibendum purus imperdiet sed. Sed ut
                                elit egestas, accumsan eros et, pellentesque ligula. In molestie consequat
                                nunc
                                in fermentum. Pellentesque eget quam id
                                lacus laoreet congue. Maecenas id tortor diam. Nullam laoreet eleifend
                                auctor.
                                Nunc id rhoncus neque. In interdum
                            </p>
                            <p>
                                ultrices efficitur. Pellentesque turpis ligula, porta id magna eget, dapibus
                                facilisis nibh. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Nunc porta quam dui, in bibendum purus
                                imperdiet
                                sed. Sed ut elit egestas, accumsan eros
                                et, pellentesque ligula. In molestie consequat nunc in fermentum.
                                Pellentesque
                                eget quam id lacus laoreet congue.
                                Maecenas id tortor diam. Nullam laoreet eleifend auctor. Nunc id rhoncus
                                neque.
                                In interdum ultrices efficitur.
                                Pellentesque turpis ligula, porta id magna eget, dapibus facilisis nibh.
                                Maecenas id tortor diam. Nullam laoreet
                            </p>
                            <p>
                                eleifend auctor. Nunc id rhoncus neque. In interdum ultrices efficitur.
                                Pellentesque turpis ligula, porta id magna eget,
                                dapibus facilisis nibh.
                            </p>
                        </div>
                    </div>
                    <div class="right-col">
                        <button class="btn btn-primary2 d-inline-flex text-decoration-none w-100 text-start">
                            <span class="icon-search-monitor"></span>
                            Monitor
                        </button>
                        <!-- <button class="btn btn-warning-dark d-inline-flex text-decoration-none w-100 text-start">
                            <span class="icon-search-monitor"></span>
                            Monitor
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>