<div class="page-inner layout-md">
    <div class="card-wrapper">
        <div class="head-blc">
            <h2>Manage Clinical Trial</h2>
        </div>
        <div class="inner-body padd2">
            <div class="section-row">
                <div class="card-wrapper2">
                    <div class="head-blc2 d-flex flex-wrap">
                        <h2>Search</h2>
                        <div class="rt-col ms-auto">
                            <button class="btn btn-primary">
                                Clear
                            </button>
                            <button class="btn btn-primary">
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="inner-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" name="title" id="title" class="form-control">
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <div class="input-cell right position-relative">
                                        <input type="text" name="code" id="code" class="form-control">
                                        <span
                                            class="icon icon-search position-absolute d-inline-flex align-items-center justify-content-center"></span>
                                    </div>
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div class="form-group">
                                    <label for="interventions">Interventions</label>
                                    <div class="input-cell right position-relative">
                                        <input type="text" name="interventions" id="interventions" class="form-control">
                                        <span
                                            class="icon icon-search position-absolute d-inline-flex align-items-center justify-content-center"></span>
                                    </div>
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="conditions">First Name</label>
                                    <select class="form-select form-control" id="conditions">
                                        <option selected>www.abc.com</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="activeInactive">Active/Inactive</label>
                                    <select class="form-select form-control" id="activeInactive">
                                        <option selected>www.abc.com</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="locations">Locations</label>
                                    <select class="form-select form-control" id="locations">
                                        <option selected>www.abc.com</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="status">status</label>
                                    <select class="form-select form-control" id="status">
                                        <option selected>www.abc.com</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="invalid-feedback">This Feild is Required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-row">
                <div class="card-wrapper invite">
                    <div class="head-blc d-flex align-items-center">
                        <h2>CTS - 001</h2>
                        <div class="right-col ms-auto">
                            <label class="location-lbl">
                                Locations:<span>USA</span>
                            </label>
                        </div>
                    </div>
                    <div class="inner-body padd">
                        <div class="invite-wrapper">
                            <div class="invite-section layout-md">
                                <div class="head">
                                    <h2>The Heart Hive COVID-19 Study</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Mauris
                                        tempor eros suscipit consequat blandit. Nam eget
                                        lectus
                                        quis lorem rutrum viverra non in libero. Aliquam lectus
                                        justo,
                                        volutpat nec nunc eget.
                                    </p>
                                </div>
                                <div class="info-row d-flex">
                                    <div class="left-col info-col d-flex flex-wrap">
                                        <label class="d-inline-flex">
                                            <span>
                                                Conditions:
                                            </span>
                                            Covid-19
                                        </label>
                                        <label class="d-inline-flex">
                                            <span>
                                                Organization Name:
                                            </span>
                                            Pharma Company
                                        </label>
                                        <label class="d-inline-flex">
                                            <span>
                                                Status:
                                            </span>
                                            Approved
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="invite-btn-rw text-end">
                                <button class="btn btn-primary">
                                    Invite PI
                                </button>
                                <button class="btn btn-primary">
                                    Invite Participant
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="foot d-flex align-items-center justify-content-end">
                        <button class="edit btn btn-link shadow-none text-decoration-none">
                            <span class="icon-edit-pencil"></span>
                        </button>
                        <button class="eye btn btn-link shadow-none text-decoration-none d-inline-flex">
                            <span class="icon-eye"></span>
                        </button>
                        <button class="delete btn btn-link shadow-none text-decoration-none text-danger">
                            <span class="icon-trash2"></span>
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center pagination-wrapper">
                    <div class="left mb-2">
                        Showing 1 to 6 of 16 entries
                    </div>
                    <div class="right d-flex ms-auto mb-2">
                        <pagination [totalItems]="66" (pageChanged)="pageChanged($event)">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>