<div class="page-inner">
    <section class="section-row">
        <div class="card-wrapper flat">
            <div class="head-blc">
                <h2>Add Participant Email Template</h2>
            </div>
            <div class="inner-body padd2">
                <div class="form-group">
                    <label for="description">
                        Description
                    </label>
                    <textarea id="description" type="text" name="description"
                        class="form-control description-area"></textarea>
                    <div class="invalid-feedback">
                        Field Error Message.
                    </div>
                </div>
                <div class="form-btns text-end">
                    <button class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>