<div class="page-inner layout-md with-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Master</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Procedure</li>
        </ol>
    </nav>
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc">
                <h2>Manage Procedure</h2>
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Study Contract
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <section class="section-row">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta quam dui, in
                                        bibendum purus imperdiet sed. Sed ut
                                        elit egestas, accumsan eros et, pellentesque ligula. In molestie consequat nunc
                                        in fermentum. Pellentesque eget quam id
                                        lacus laoreet congue. Maecenas id tortor diam. Nullam laoreet eleifend auctor.
                                        Nunc id rhoncus neque. In interdum
                                        ultrices efficitur. Pellentesque turpis ligula, porta id magna eget, dapibus
                                        facilisis nibh.
                                    </p>
                                </section>
                                <section class="section-row">
                                    <label>
                                        <b>
                                            Training Resource
                                        </b>
                                    </label>
                                    <p>
                                        <a href="">
                                            Online Training Resource (Link).
                                        </a>
                                    </p>
                                </section>
                                <section class="section-row">
                                    <div class="form-group consent-comment-blc">
                                        <label for="comment">
                                            Comment
                                        </label>
                                        <textarea id="comment" type="text" name="comment"
                                            class="form-control"></textarea>
                                        <div class="invalid-feedback">
                                            Field Error Message.
                                        </div>
                                    </div>
                                    <div class="form-btns text-end">
                                        <button class="btn btn-primary">
                                            Save
                                        </button>
                                    </div>
                                </section>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Start Up Training
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="section-row grey-txt">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta quam dui, in
                                        bibendum purus imperdiet sed. Sed ut elit egestas, accumsan eros et,
                                        pellentesque ligula. In molestie consequat nunc in fermentum. Pellentesque eget
                                        quam id lacus laoreet congue. Maecenas id tortor diam. Nullam laoreet eleifend
                                        auctor. Nunc id rhoncus neque. In interdum ultrices efficitur. Pellentesque
                                        turpis ligula, porta id magna eget, dapibus facilisis nibh.
                                    </p>
                                    <div class="form-group">
                                        <label>
                                            Training Resources
                                        </label>
                                        <p>
                                            <a href="">Online Training Resource (Link)</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="section-row">
                                    <div class="form-group">
                                        <label for="leaveComment">
                                            Comment
                                        </label>
                                        <textarea id="leaveComment" type="text" name="leaveComment"
                                            class="form-control"></textarea>
                                        <div class="invalid-feedback">
                                            Field Error Message.
                                        </div>
                                    </div>
                                    <div class="form-btns text-end">
                                        <button class="btn btn-primary">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Inventory
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="form-wrapper">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="amountReceived">
                                                            Amount Received
                                                        </label>
                                                        <input id="amountReceived" type="number" name="amountReceived"
                                                            class="form-control">
                                                        <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="inventoryName">
                                                    Inventory Name
                                                </label>
                                                <input id="inventoryName" type="text" name="inventoryName"
                                                    class="form-control">
                                                <div class="invalid-feedback">
                                                    Field Error Message.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="hcpcCode">
                                                    Inventory Type
                                                </label>
                                                <input id="hcpcCode" type="text" name="hcpcCode" class="form-control">
                                                <div class="invalid-feedback">
                                                    Field Error Message.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="hcpcSCode">
                                                    HCPCS Code
                                                </label>
                                                <input id="hcpcSCode" type="text" name="hcpcSCode" class="form-control">
                                                <div class="invalid-feedback">
                                                    Field Error Message.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="minQty">
                                                    Min Qty
                                                </label>
                                                <input id="minQty" type="text" name="minQty" class="form-control">
                                                <div class="invalid-feedback">
                                                    Field Error Message.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="addedDate">Added Date</label>
                                                <div class="input-cell right d-flex position-relative">
                                                    <span
                                                        class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                                                        <span class="icon-calendar-line"></span>
                                                    </span>
                                                    <input bsDatepicker type="text" name="addedDate" id="addedDate"
                                                        class="form-control">
                                                </div>
                                                <div class="invalid-feedback">This Feild is Required.</div>

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="addedBy">
                                                    Added By
                                                </label>
                                                <input id="addedBy" type="text" name="addedBy" class="form-control">
                                                <div class="invalid-feedback">
                                                    Field Error Message.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-btns text-end">
                                            <button class="btn btn-primary">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Schedule Of Assessment
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="assessment-wrapper">
                                    <section class="section-row">
                                        <div class="assesment-row assesment-txt-blc" *ngFor="let item of tempItem">
                                            <h3>
                                                Etiam diam sem, lobortis at erat ac, suscipit scelerisque mauris
                                            </h3>
                                            <div class="text-blc">
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem
                                                    Ipsum
                                                    has been the industry's standard
                                                    dummy text ever since the 1500s, when an unknown printer took a
                                                    galley of type and
                                                    scrambled it to make a type specimen
                                                    book.
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="section-row">
                                        <div class="assesment-row">
                                            <h3>
                                                Quisque ac tempus ante. Vivamus faucibus blandit lorem
                                            </h3>
                                            <div class="check-items">
                                                <div class="item" *ngFor="let item of tempItem">
                                                    <label class="checkbox-cell d-flex align-items-center">
                                                        <input type="checkbox" name="remember"
                                                            class="position-absolute" />
                                                        <span
                                                            class="d-inline-flex align-items-center justify-content-center icon">
                                                            <span class="icon-check"></span>
                                                        </span>
                                                        <span class="txt">Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing
                                                            elit.</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="assesment-row">
                                            <h3>
                                                Suspendisse molestie vitae lorem at fringilla
                                            </h3>
                                            <div class="check-items">
                                                <div class="item" *ngFor="let item of tempItem">
                                                    <label class="checkbox-cell d-flex align-items-center">
                                                        <input type="checkbox" name="remember"
                                                            class="position-absolute" />
                                                        <span
                                                            class="d-inline-flex align-items-center justify-content-center icon">
                                                            <span class="icon-check"></span>
                                                        </span>
                                                        <span class="txt">Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing
                                                            elit.</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="section-row">
                                        <div class="assesment-row">
                                            <h3>
                                                Attached
                                            </h3>
                                            <ol class="attached-items">
                                                <li>
                                                    Consectetur adipiscing elit.PDF
                                                </li>
                                                <li>
                                                    Consectetur adipiscing elit.PDF
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="assesment-row">
                                            <h3>
                                                Nullam placerat libero vitae nisi pellentesque fermentum
                                            </h3>
                                            <div class="text-blc">
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem
                                                    Ipsum
                                                    has been the industry's standard
                                                    dummy text ever since the 1500s, when an unknown printer took a
                                                    galley of type and
                                                    scrambled it to make a type specimen
                                                    book.
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="section-row">
                                        <div class="assesment-row">
                                            <h3>
                                                Comment
                                            </h3>
                                            <div class="text-blc">
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem
                                                    Ipsum
                                                    has been the industry's standard
                                                    dummy text ever since the 1500s, when an unknown printer took a
                                                    galley of type and
                                                    scrambled it to make a type specimen
                                                    book.
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="text-end form-btns multiple">
                                        <button class="btn btn-primary">
                                            Save
                                        </button>
                                        <button class="btn btn-secondary">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>