<div class="page-inner layout-md">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc">
                <h2>Invite Principal Investigator</h2>
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invites Received
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="invite-wrapper">
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>CTS - 001</h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-wrapper">
                                                    <div class="invite-section layout-md">
                                                        <div class="head">
                                                            <h2>The Heart Hive COVID-19 Study</h2>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit.
                                                                Mauris
                                                                tempor eros suscipit consequat blandit. Nam eget
                                                                lectus
                                                                quis lorem rutrum viverra non in libero. Aliquam
                                                                lectus
                                                                justo,
                                                                volutpat nec nunc eget.
                                                            </p>
                                                        </div>
                                                        <div class="info-row d-flex">
                                                            <div
                                                                class="left-col info-col d-flex flex-wrap top-btm-layout">
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Invite Sent To
                                                                    </span>
                                                                    Amanda Hug
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Invite Sent Date
                                                                    </span>
                                                                    15/5/2021
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Accepted Date
                                                                    </span>
                                                                    20/5/2021
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Accepted By
                                                                    </span>
                                                                    Williams
                                                                </label>
                                                            </div>
                                                            <div class="right-col text-end ms-auto d-flex flex-column">
                                                                <div
                                                                    class="invite-btns d-flex flex-column justify-content-center flex-fill">
                                                                    <button class="btn btn-success">
                                                                        Accepted
                                                                    </button>
                                                                    <button class="btn btn-parimary btn-primary2
                                                                    ">
                                                                        Preselection
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foot d-flex align-items-center justify-content-end">
                                                <a href="">
                                                    <span class="icon-eye"></span>
                                                </a>
                                                <a href="">
                                                    <span class="icon-chat-line"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>CTS - 001</h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-wrapper">
                                                    <div class="invite-section layout-md">
                                                        <div class="head">
                                                            <h2>The Heart Hive COVID-19 Study</h2>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit.
                                                                Mauris
                                                                tempor eros suscipit consequat blandit. Nam eget
                                                                lectus
                                                                quis lorem rutrum viverra non in libero. Aliquam
                                                                lectus
                                                                justo,
                                                                volutpat nec nunc eget.
                                                            </p>
                                                        </div>
                                                        <div class="info-row d-flex">
                                                            <div
                                                                class="left-col info-col d-flex flex-wrap top-btm-layout">
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Invite Sent To
                                                                    </span>
                                                                    Amanda Hug
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Invite Sent Date
                                                                    </span>
                                                                    15/5/2021
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Declined Date
                                                                    </span>
                                                                    20/5/2021
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Declined By
                                                                    </span>
                                                                    Williams
                                                                </label>
                                                            </div>
                                                            <div class="right-col text-end ms-auto d-flex flex-column">
                                                                <div
                                                                    class="invite-btns d-flex flex-column justify-content-end flex-fill">
                                                                    <button class="btn btn-danger">
                                                                        Declined
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foot d-flex align-items-center justify-content-end">
                                                <a href="">
                                                    <span class="icon-eye"></span>
                                                </a>
                                                <a href="">
                                                    <span class="icon-chat-line"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invites Update
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="invite-wrapper">
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>CTS - 001</h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-wrapper">
                                                    <div class="invite-section layout-md">
                                                        <div class="head">
                                                            <h2>The Heart Hive COVID-19 Study</h2>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit.
                                                                Mauris
                                                                tempor eros suscipit consequat blandit. Nam eget
                                                                lectus
                                                                quis lorem rutrum viverra non in libero. Aliquam
                                                                lectus
                                                                justo,
                                                                volutpat nec nunc eget.
                                                            </p>
                                                        </div>
                                                        <div class="info-row d-flex">
                                                            <div
                                                                class="left-col info-col d-flex flex-wrap top-btm-layout">
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Invite Sent To
                                                                    </span>
                                                                    Amanda Hug
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Invite Sent Date
                                                                    </span>
                                                                    15/5/2021
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Accepted Date
                                                                    </span>
                                                                    20/5/2021
                                                                </label>
                                                                <label class="d-inline-flex">
                                                                    <span>
                                                                        Accepted By
                                                                    </span>
                                                                    Williams
                                                                </label>
                                                            </div>
                                                            <div class="right-col text-end ms-auto d-flex flex-column">
                                                                <div
                                                                    class="invite-btns d-flex flex-column justify-content-end flex-fill">
                                                                    <button class="btn btn-success">
                                                                        Accepted
                                                                    </button>
                                                                    <button class="btn btn-parimary btn-primary2
                                                                                                ">
                                                                        Preselection
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foot d-flex align-items-center justify-content-end">
                                                <a href="">
                                                    <span class="icon-eye"></span>
                                                </a>
                                                <a href="">
                                                    <span class="icon-chat-line"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>