<div class="page-inner layout-md">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc d-flex align-items-center">
                <h2>Assessment</h2>
                <div class="right-col ms-auto">
                    <button class="btn btn-btn-link back-btn d-inline-flex align-items-center">
                        <span class="icon-arrow-left"></span>
                        Back
                    </button>
                </div>
            </div>
            <div class="inner-body padd2">
                <div class="assessment-wrapper">
                    <section class="section-row">
                        <div class="assesment-row assesment-txt-blc" *ngFor="let item of tempItem">
                            <h3>
                                Etiam diam sem, lobortis at erat ac, suscipit scelerisque mauris
                            </h3>
                            <div class="text-blc">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="section-row">
                        <div class="assesment-row">
                            <h3>
                                Quisque ac tempus ante. Vivamus faucibus blandit lorem
                            </h3>
                            <div class="check-items">
                                <div class="item" *ngFor="let item of tempItem">
                                    <label class="checkbox-cell d-flex align-items-center">
                                        <input type="checkbox" name="remember" class="position-absolute" />
                                        <span class="d-inline-flex align-items-center justify-content-center icon">
                                            <span class="icon-check"></span>
                                        </span>
                                        <span class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="assesment-row">
                            <h3>
                                Suspendisse molestie vitae lorem at fringilla
                            </h3>
                            <div class="check-items">
                                <div class="item" *ngFor="let item of tempItem">
                                    <label class="checkbox-cell d-flex align-items-center">
                                        <input type="checkbox" name="remember" class="position-absolute" />
                                        <span class="d-inline-flex align-items-center justify-content-center icon">
                                            <span class="icon-check"></span>
                                        </span>
                                        <span class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-row">
                        <div class="assesment-row">
                            <h3>
                                Attached
                            </h3>
                            <ol class="attached-items">
                                <li>
                                    Consectetur adipiscing elit.PDF
                                </li>
                                <li>
                                    Consectetur adipiscing elit.PDF
                                </li>
                            </ol>
                        </div>
                        <div class="assesment-row">
                            <h3>
                                Nullam placerat libero vitae nisi pellentesque fermentum
                            </h3>
                            <div class="text-blc">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="section-row">
                        <div class="assesment-row">
                            <h3>
                                Comment
                            </h3>
                            <div class="text-blc">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                        </div>
                    </section>
                    <div class="text-end form-btns multiple">
                        <button class="btn btn-primary">
                            Save
                        </button>
                        <button class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>