<div class="login-wrapper d-flex flex-column flex-fill position-relative">
  <div class="container m-auto">
    <div class="loign-rw d-flex align-items-center">
      <div class="login-lft">
        <h6>Welcome to</h6>
        <h2>CR<span class="text-primary">Link</span></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elitraesent necduiaterat cursus vestibulumtiam eu
          egestas
          nibhsit
          amet dictum exullam quis lacus orciulla facilisi.
        </p>
        <a [routerLink]="['/superadmin/sign-in']" class="text-primary link">Go to Home</a>
      </div>
      <div class="login-rt" *ngIf="IsInitialPage">
        <div class="login-bx auth">
          <div class="form-hd-ttl">
            <h3>Welcome to {{adminName}}</h3>
            <p class="p2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p class="p2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p class="p2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
          <div class="inner-blc text-center">
            <form>
              <div class="form-group">
                <div class="auth-code-rw auth-code-btns">
                  <button type="button" class="btn btn-primary" (click)="navigateToSetPasswordPage()">
                    Accept
                  </button>
                  <button type="button" class="btn btn-primary" routerLink="/superadmin/sign-in">
                    Decline
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="login-rt" *ngIf="IsSetPasswordPage">
        <div class="login-bx">
          <h3>Please confirm your password to verify the account</h3>
          <div class="inner-blc">
            <form [formGroup]="ActivationForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">EmailAddress<span class="text-danger">*</span></label>
                <div class="input-cell d-flex position-relative">
                  <span class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.058" height="14.294" viewBox="0 0 19.058 14.294">
                      <path id="envelope"
                        d="M17.271,59.882H1.787A1.789,1.789,0,0,0,0,61.669v10.72a1.789,1.789,0,0,0,1.787,1.787H17.271a1.789,1.789,0,0,0,1.787-1.787V61.669A1.789,1.789,0,0,0,17.271,59.882Zm0,1.191a.592.592,0,0,1,.228.046L9.529,68.027,1.558,61.119a.593.593,0,0,1,.228-.046Zm0,11.911H1.787a.6.6,0,0,1-.6-.6V62.378l7.948,6.888a.6.6,0,0,0,.781,0l7.948-6.888V72.389A.6.6,0,0,1,17.271,72.984Z"
                        transform="translate(0 -59.882)" />
                    </svg>
                  </span>
                  <input type="email" class="form-control" id="email" formControlName="emailAddress" disabled required>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Username<span class="text-danger">*</span></label>
                <div class="input-cell d-flex position-relative">
                  <span class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.058" height="14.294" viewBox="0 0 19.058 14.294">
                      <path id="envelope"
                        d="M17.271,59.882H1.787A1.789,1.789,0,0,0,0,61.669v10.72a1.789,1.789,0,0,0,1.787,1.787H17.271a1.789,1.789,0,0,0,1.787-1.787V61.669A1.789,1.789,0,0,0,17.271,59.882Zm0,1.191a.592.592,0,0,1,.228.046L9.529,68.027,1.558,61.119a.593.593,0,0,1,.228-.046Zm0,11.911H1.787a.6.6,0,0,1-.6-.6V62.378l7.948,6.888a.6.6,0,0,0,.781,0l7.948-6.888V72.389A.6.6,0,0,1,17.271,72.984Z"
                        transform="translate(0 -59.882)" />
                    </svg>
                  </span>
                  <input type="email" class="form-control" id="email" formControlName="username" required>
                </div>
                <div *ngIf="submitted && ActivationForm.controls.username.errors" class="text-danger">
                  <div class="text-danger" *ngIf="ActivationForm.controls.username.errors?.required">
                    Username is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password<span class="text-danger">*</span></label>
                <div class="input-cell pass d-flex position-relative">
                  <span class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22.588" viewBox="0 0 18 22.588">
                      <g id="lock" transform="translate(-52)">
                        <g id="Group_69" data-name="Group 69" transform="translate(52)">
                          <g id="Group_68" data-name="Group 68" transform="translate(0)">
                            <path id="Path_1168" data-name="Path 1168"
                              d="M67.353,8.294h-1.59V4.666a4.766,4.766,0,0,0-9.529,0V8.294H54.647A2.65,2.65,0,0,0,52,10.941v9a2.65,2.65,0,0,0,2.647,2.647H67.353A2.65,2.65,0,0,0,70,19.941v-9A2.65,2.65,0,0,0,67.353,8.294ZM58,4.666a3,3,0,0,1,6,0V8.294H58ZM68.235,19.941a.883.883,0,0,1-.882.882H54.647a.883.883,0,0,1-.882-.882v-9a.883.883,0,0,1,.882-.882H67.353a.883.883,0,0,1,.882.882Z"
                              transform="translate(-52)" />
                          </g>
                        </g>
                        <g id="Group_71" data-name="Group 71" transform="translate(59.368 12.618)">
                          <g id="Group_70" data-name="Group 70" transform="translate(0)">
                            <path id="Path_1169" data-name="Path 1169"
                              d="M220.632,286a1.632,1.632,0,0,0-.884,3v1.937a.882.882,0,0,0,1.765,0v-1.935a1.632,1.632,0,0,0-.881-3.006Z"
                              transform="translate(-219 -286)" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <input type="password" class="form-control" id="password" formControlName="password">
                </div>
                <div *ngIf="submitted && ActivationForm.controls.password.errors" class="text-danger">
                  <div class="text-danger" *ngIf="ActivationForm.controls.password.errors?.required">
                    Password is required.
                  </div>
                  <div class="text-danger" *ngIf="ActivationForm.controls.password.errors?.invalidPassword">Please provide
                    at least one uppercase letter, one lowercase letter, one number and one special character Password.
                  </div>
                  <div class="text-danger" *ngIf="ActivationForm.controls.password.errors?.minlength">Password Should be
                    greater than 6 digit.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Confirm Password<span class="text-danger">*</span></label>
                <div class="input-cell pass d-flex position-relative">
                  <span class="position-absolute d-inline-flex align-items-center justify-content-center icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22.588" viewBox="0 0 18 22.588">
                      <g id="lock" transform="translate(-52)">
                        <g id="Group_69" data-name="Group 69" transform="translate(52)">
                          <g id="Group_68" data-name="Group 68" transform="translate(0)">
                            <path id="Path_1168" data-name="Path 1168"
                              d="M67.353,8.294h-1.59V4.666a4.766,4.766,0,0,0-9.529,0V8.294H54.647A2.65,2.65,0,0,0,52,10.941v9a2.65,2.65,0,0,0,2.647,2.647H67.353A2.65,2.65,0,0,0,70,19.941v-9A2.65,2.65,0,0,0,67.353,8.294ZM58,4.666a3,3,0,0,1,6,0V8.294H58ZM68.235,19.941a.883.883,0,0,1-.882.882H54.647a.883.883,0,0,1-.882-.882v-9a.883.883,0,0,1,.882-.882H67.353a.883.883,0,0,1,.882.882Z"
                              transform="translate(-52)" />
                          </g>
                        </g>
                        <g id="Group_71" data-name="Group 71" transform="translate(59.368 12.618)">
                          <g id="Group_70" data-name="Group 70" transform="translate(0)">
                            <path id="Path_1169" data-name="Path 1169"
                              d="M220.632,286a1.632,1.632,0,0,0-.884,3v1.937a.882.882,0,0,0,1.765,0v-1.935a1.632,1.632,0,0,0-.881-3.006Z"
                              transform="translate(-219 -286)" />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <input type="password" class="form-control" id="password" formControlName="confirmPassword">
                </div>
                <div *ngIf="submitted && ActivationForm.controls.confirmPassword.errors" class="text-danger">
                  <div class="text-danger" *ngIf="ActivationForm.controls.confirmPassword.errors?.required">
                    Confirm Password is required.
                  </div>
                  <div class="text-danger" *ngIf="ActivationForm.controls.confirmPassword.errors?.invalidPassword">Please provide
                    at least one uppercase letter, one lowercase letter, one number and one special character Password.
                  </div>
                  <div class="text-danger" *ngIf="ActivationForm.controls.confirmPassword.errors?.minlength">Password Should be
                    greater than 6 digit.
                  </div>
                </div>
              </div>
              <div class="auth-code-rw auth-code-btns">
                <button type="button" class="btn btn-primary" (click)="setPassword()">
                  Submit
                </button>
                <button type="button" class="btn btn-primary">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="login-rt" *ngIf="IsThankyouPage">
        <div class="login-bx auth text-center">
          <div class="form-hd-ttl">
            <h3>Thank You</h3>
            <p>
              Please Login the invitation
              <span class="d-blc">
                to verify your account
              </span>
            </p>
          </div>
          <div class="inner-blc">
            <form>
              <div class="form-group">
                <div class="auth-code-rw auth-code-btns">
                  <button type="button" class="btn btn-primary" routerLink="/superadmin/sign-in">
                    Login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btm-pic position-absolute">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="2500px" height="456px" viewBox="-567.482 0.595 2500 456"
      enable-background="new -567.482 0.595 2500 456" xml:space="preserve">
      <path id="Path_1166" d="M-567.328,256.688c0,0,130.974,126,594.994,48
      c464.022-78,639.901-312,1130.118-304s774.734,257.228,774.734,257.228v198.678h-2500L-567.328,256.688z" />
    </svg>
  </div>
</div>