<div class="page-inner">
    <section class="section-row">
        <div class="card-wrapper flat">
            <div class="head-blc d-flex align-items-center">
                <h2>Edit Participant</h2>
                <div class="right-col ms-auto">
                    <button class="btn btn-btn-link back-btn d-inline-flex align-items-center">
                        <span class="icon-arrow-left"></span>
                        Back
                    </button>
                </div>
            </div>
            <div class="inner-body padd2">
                <div class="form-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">
                                    First Name
                                </label>
                                <input id="firstName" type="text" name="name1" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">
                                    Last Name
                                </label>
                                <input id="lastName" type="lastName" name="name1" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="caregiverEmail">
                                    Caregiver Email
                                </label>
                                <input id="caregiverEmail" type="email" name="caregiverEmail" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="caregiverName">
                                    Caregiver Name
                                </label>
                                <input id="caregiverName" type="text" name="caregiverName" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="caregiverPhone">
                                    Caregiver Phone
                                </label>
                                <input id="caregiverPhone" type="text" name="caregiverPhone" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateBirth">
                                    Date of birth
                                </label>
                                <input id="dateBirth" type="text" name="dateBirth" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="options-row d-flex">
                                <div class="option-col">
                                    <label class="d-inline-flex radiobox-cell position-relative">
                                        <input type="radio" name="option1" class="position-absolute">
                                        <span
                                            class="icon d-inline-flex align-items-center justify-content-center rounded-circle">
                                            <span class="d-inline-flex rounded-circle"></span>
                                        </span>
                                        <span class="txt">
                                            I am volunteering for a clinical study
                                        </span>
                                    </label>
                                </div>
                                <div class="option-col">
                                    <label class="d-inline-flex radiobox-cell position-relative">
                                        <input type="radio" name="option1" class="position-absolute">
                                        <span
                                            class="icon d-inline-flex align-items-center justify-content-center rounded-circle">
                                            <span class="d-inline-flex rounded-circle"></span>
                                        </span>
                                        <span class="txt">
                                            I have a medical condition
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">
                                    Gender
                                </label>
                                <select class="form-select form-control" id="gender">
                                    <option selected>www.abc.com</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ethnicity">
                                    Ethnicity
                                </label>
                                <select class="form-select form-control" id="ethnicity">
                                    <option selected>www.abc.com</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="race">
                                    Race
                                </label>
                                <select class="form-select form-control" id="race">
                                    <option selected>www.abc.com</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="preferredLang">
                                    Preferred Language of comunication
                                </label>
                                <input id="preferredLang" type="text" name="preferredLang" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetAddress1">
                                    Street Address 1
                                </label>
                                <input id="streetAddress1" type="text" name="streetAddress1" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetAddress2">
                                    Street Address 2
                                </label>
                                <input id="streetAddress2" type="text" name="streetAddress2" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="city">
                                    City
                                </label>
                                <input id="city" type="text" name="city" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="state">
                                    state
                                </label>
                                <input id="state" type="text" name="state" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zipCode">
                                    Zip Code
                                </label>
                                <input id="zipCode" type="text" name="zipCode" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="referralName">
                                    Referral Physician Name
                                </label>
                                <input id="referralName" type="text" name="referralName" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="referralEmail">
                                    Referral Physician Email
                                </label>
                                <input id="referralEmail" type="text" name="referralEmail" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="referralPhone">
                                    Referral Physician Phone
                                </label>
                                <input id="referralPhone" type="text" name="referralPhone" class="form-control">
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-btns text-end">
                            <button class="btn btn-primary">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Temporary-Div -->
<div class="temp-div layout-md d-flex">
    <button type="button" class="btn btn-primary mr-2" (click)="openRecordMessageModal()">record message modal</button>
    <button type="button" class="btn btn-primary" (click)="openDatabaseModal()">database modal</button>
</div>