<div class="row">
    <div class="col-xl-3 col-md-6 d-flex breif-col">
        <a href="#" class="d-flex flex-column flex-fill danger-card">
            <div class="inner-rw d-flex">
                <div class="left flex-fill">
                    <h2>20</h2>
                    <h3>Total Organizations</h3>
                </div>
                <div class="right d-flex flex-column">
                    <span class="icon">
                        <span class="icon-user"></span>
                    </span>
                    <span class="more mt-auto d-inline-flex justify-content-end">
                        <span class="icon-arrow-right"></span>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 d-flex breif-col">
        <a href="#" class="d-flex flex-column flex-fill success-card">
            <div class="inner-rw d-flex">
                <div class="left flex-fill">
                    <h2>450</h2>
                    <h3>Total Participants</h3>
                </div>
                <div class="right d-flex flex-column">
                    <span class="icon">
                        <span class="icon-user"></span>
                    </span>
                    <span class="more mt-auto d-inline-flex justify-content-end">
                        <span class="icon-arrow-right"></span>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 d-flex breif-col">
        <a href="#" class="d-flex flex-column flex-fill warning-card">
            <div class="inner-rw d-flex">
                <div class="left flex-fill">
                    <h2>45</h2>
                    <h3>Total Sponsors</h3>
                </div>
                <div class="right d-flex flex-column">
                    <span class="icon">
                        <span class="icon-user"></span>
                    </span>
                    <span class="more mt-auto d-inline-flex justify-content-end">
                        <span class="icon-arrow-right"></span>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 d-flex breif-col">
        <a href="#" class="d-flex flex-column flex-fill info-card">
            <div class="inner-rw d-flex">
                <div class="left flex-fill">
                    <h2>35</h2>
                    <h3>Total Investigators</h3>
                </div>
                <div class="right d-flex flex-column">
                    <span class="icon">
                        <span class="icon-user"></span>
                    </span>
                    <span class="more mt-auto d-inline-flex justify-content-end">
                        <span class="icon-arrow-right"></span>
                    </span>
                </div>
            </div>
        </a>
    </div>

</div>