<div class="page-inner layout-md">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc">
                <h2>Manage Invite Participant</h2>
            </div>
            <div class="inner-body padd2">
                <section class="section-row">
                    <div class="card-wrapper2 shadow">
                        <div class="inner-body">
                            <div class="row">
                                <div class="col-sm-12 card-wrapper-ttl">
                                    <h2>
                                        Search
                                    </h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="clinicalTrialName">Clinical Trial Name</label>
                                        <input type="text" name="clinicalTrialName" id="clinicalTrialName"
                                            class="form-control">
                                        <div class="invalid-feedback">This Feild is Required.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="participantName">Participant Name</label>
                                        <input type="text" name="participantName" id="participantName"
                                            class="form-control">
                                        <div class="invalid-feedback">This Feild is Required.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="participantCode">Participant Code</label>
                                        <input type="mail" name="participantCode" id="participantCode"
                                            class="form-control">
                                        <div class="invalid-feedback">This Feild is Required.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="status">
                                            Status
                                        </label>
                                        <select class="form-select form-control" id="status">
                                            <option selected>www.abc.com</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Field Error Message.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group form-btns left-align multiple mb-0">
                                        <button class="btn btn-primary">
                                            Clear
                                        </button>
                                        <button class="btn btn-primary">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="section-row">
                    <div class="row">
                        <div class="col-sm-12 profile-breif-hd text-end">
                            <button class="btn btn-primary">
                                Select for Screening Visit
                            </button>
                        </div>
                        <div class="col-lg-6 col-xl-4 d-flex" *ngFor="let i of item">
                            <app-profile-breif-card class="d-flex flex-fill"></app-profile-breif-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>