<div class="profile-breif-card2 d-flex flex-column flex-fill">
    <div class="head-blc">
        <h2 class="text-primary2">Sponser</h2>
    </div>
    <div class="inner d-flex">
        <div class="pic-cell rounded-circle position-relative">
            <button
                class="btn btn-link text-decoration-none shadow-none position-absolute edit-pic p-0 rounded-circle d-inline-flex align-items-center justify-content-center">
                <span class="icon-edit-pencil"></span>
            </button>
            <img class="img-fluid rounded-circle" src="../../../../assets/images/user2.png" alt="User">
        </div>
        <div class="txt-cell">
            <h3>Philippe Bayock</h3>
            <h4>
                Rochester, NY <span class="dot">·</span> Europe <span class="line">|</span> York, UK
            </h4>
            <h5>
                <a class="text-decoration-none" href="#">
                    philippebayock@123.com
                </a>
            </h5>
            <h6>
                <a class="phone-link text-decoration-none text-primary2 d-inline-flex align-items-center" href="#">
                    <span class="icons-cell rounded-circle d-inline-flex align-items-center justify-content-center">
                        <span class="icon-phone-line"></span>
                    </span>
                    +1234567890
                </a>
            </h6>
        </div>
    </div>
    <div class="foot-blc d-flex align-items-center justify-content-end">
        <button class="edit btn btn-link shadow-none text-decoration-none">
            <span class="icon-edit-pencil"></span>
        </button>
        <button class="delete btn btn-link shadow-none text-decoration-none text-danger">
            <span class="icon-trash2"></span>
        </button>
    </div>
</div>