<div class="modal-header">
    <h4 class="modal-title pull-left">Audit Log</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
        <span class="icon-cross-round"></span>
    </button>
</div>
<div class="modal-body">
    <div class="audit-log-wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="audit-log-col">
                    <div class="head">
                        Old Value
                    </div>
                    <div class="inner">
                        <div class="list-blc">
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-folder"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        Use f for closed folders
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-folder-open"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        Use F for open folders
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-plus-round type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        You may also use this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-minus-round type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        and this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-checkbox-check">
                                        <span class="path1 type2"></span>
                                        <span class="path2 type2"></span>
                                    </span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        or this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-checkbox-uncheck type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        and this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-triange-right type3"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        or even this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-triange-down"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        and this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-doc-line type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        Use - for a file icon
                                    </div>
                                    <div class="txt-item">
                                        or_ to leave a space for your own icon
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-folder-open"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        use spaces or dots for hierarchy
                                    </div>
                                    <div class="list-item-wrapper">
                                        <div class="list-item d-flex">
                                            <div class="icons-cell">
                                                <span class="icon-triange-down"></span>
                                            </div>
                                            <div class="txt-cell">
                                                <div class="txt-item">
                                                    Just Like
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-item d-flex">
                                            <div class="icons-cell">
                                                <span class="icon-doc-line type2"></span>
                                            </div>
                                            <div class="txt-cell">
                                                <div class="txt-item">
                                                    This
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="audit-log-col">
                    <div class="head">
                        New Value
                    </div>
                    <div class="inner">
                        <div class="list-blc">
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-folder"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        Use f for closed folders
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-folder-open"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        Use F for open folders
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-plus-round type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        You may also use this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-minus-round type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        and this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-checkbox-check">
                                        <span class="path1 type2"></span>
                                        <span class="path2 type2"></span>
                                    </span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        or this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-checkbox-uncheck type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        and this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-triange-right type3"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        or even this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-triange-down"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        and this
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-doc-line type2"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        Use - for a file icon
                                    </div>
                                    <div class="txt-item">
                                        or_ to leave a space for your own icon
                                    </div>
                                </div>
                            </div>
                            <div class="list-item d-flex">
                                <div class="icons-cell">
                                    <span class="icon-folder-open"></span>
                                </div>
                                <div class="txt-cell">
                                    <div class="txt-item">
                                        use spaces or dots for hierarchy
                                    </div>
                                    <div class="list-item-wrapper">
                                        <div class="list-item d-flex">
                                            <div class="icons-cell">
                                                <span class="icon-triange-down"></span>
                                            </div>
                                            <div class="txt-cell">
                                                <div class="txt-item">
                                                    Just Like
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-item d-flex">
                                            <div class="icons-cell">
                                                <span class="icon-doc-line type2"></span>
                                            </div>
                                            <div class="txt-cell">
                                                <div class="txt-item">
                                                    This
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>