<div class="page-inner layout-md">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc">
                <h2>Invite</h2>
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invite Status
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                Invite Status
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Send Invite
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="invite-wrapper2">
                                    <div class="row-block d-flex">
                                        <div class="left-col">
                                            <div class="profile-block">
                                                <div class="head">
                                                    <div class="pic-block">
                                                        <div
                                                            class="pic rounded-circle d-inline-flex align-items-center justify-content-center">
                                                            <span>
                                                                sp
                                                            </span>
                                                        </div>
                                                        <div class="txt">
                                                            <h3 class="d-flex align-items-center">
                                                                Robert Wilson
                                                                <span>New York</span>
                                                            </h3>
                                                            <h4 class="text-primary">
                                                                SP-001
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inner">
                                                    <div class="desc-rw location">
                                                        <h5>LOCATION</h5>
                                                        <p>
                                                            Cecilia Chapman 711-2880 Nulla St. Iris Watson P.O. Box 283
                                                            United States, New York - 10001
                                                        </p>
                                                    </div>
                                                    <div class="desc-rw list">
                                                        <h5>STATUS</h5>
                                                        <div class="inner">
                                                            <div class="list-rw d-flex">
                                                                <label>
                                                                    Active/Inactive
                                                                </label>
                                                                <span>
                                                                    Active
                                                                </span>
                                                            </div>
                                                            <div class="list-rw d-flex">
                                                                <label>
                                                                    Block/Unblock
                                                                </label>
                                                                <span>
                                                                    Block
                                                                </span>
                                                            </div>
                                                            <div class="list-rw d-flex">
                                                                <label>
                                                                    Queue/Free
                                                                </label>
                                                                <span>
                                                                    Queue
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc-rw list">
                                                        <h5>SOURCE</h5>
                                                        <div class="inner">
                                                            <div class="list-rw d-flex">
                                                                <label>
                                                                    www.abc.com
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc-rw">
                                                        <h5>MEDICAL HISTORY</h5>
                                                        <div class="inner">
                                                            <div class="d-flex">
                                                                <a href="" class="text-decoration-underline">
                                                                    Medical History
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-col flex-fill">
                                            <div class="card-wrapper card-wrapper2">
                                                <div class="inner-body padd2">
                                                    <div class="invite-form">
                                                        <h2>SEND INVITE</h2>
                                                        <div class="inner">
                                                            <div class="form-group">
                                                                <label for="clinicalTrialcode">
                                                                    Clinical Trial code
                                                                </label>
                                                                <input type="number" name="clinicalTrialcode"
                                                                    id="clinicalTrialcode" class="form-control">
                                                                <div class="invalid-feedback">This Feild is Required.
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="cc">
                                                                    CC
                                                                </label>
                                                                <input type="number" name="cc" id="cc"
                                                                    class="form-control">
                                                                <div class="invalid-feedback">This Feild is Required.
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="attachment">
                                                                    Attachment
                                                                </label>
                                                                <div class="upload-file-blc d-flex flex-column">
                                                                    <div class="left-col flex-fill">
                                                                        <div
                                                                            class="browse-file-blc d-flex position-relative">
                                                                            <input
                                                                                class="form-control position-absolute"
                                                                                type="file" id="attachment" multiple>
                                                                            <button
                                                                                class="btn btn-link position-relative text-decoration-none">
                                                                                Choose File

                                                                            </button>
                                                                            <div
                                                                                class="input-cell d-flex align-items-center flex-fill">
                                                                                <span>No file chosen</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="msg">
                                                                            Accepted File Type: JPG, PNG, doc and Docx
                                                                            only
                                                                        </div>
                                                                    </div>
                                                                    <div class="selected-file">
                                                                        <h3>
                                                                            Attached Document
                                                                        </h3>
                                                                        <ol>
                                                                            <li>
                                                                                <div class="d-flex">
                                                                                    Aamet rhoncus pretium.png
                                                                                    <button
                                                                                        class="btn btn-link shadow-none p-0 text-decoration-none">
                                                                                        X
                                                                                    </button>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="d-flex">
                                                                                    Mauris faucibus.pdf
                                                                                    <button
                                                                                        class="btn btn-link shadow-none p-0 text-decoration-none">
                                                                                        X
                                                                                    </button>
                                                                                </div>
                                                                            </li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                                <div class="invalid-feedback">This Feild is Required.
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="notes">
                                                                    Notes
                                                                </label>
                                                                <textarea id="notes" type="text" name="notes"
                                                                    class="form-control"></textarea>
                                                                <div class="invalid-feedback">
                                                                    Field Error Message.
                                                                </div>
                                                            </div>
                                                            <div class="form-group text-end">
                                                                <button
                                                                    class="btn btn-link send-mail text-decoration-none">
                                                                    <span class="icon-envelope"></span>
                                                                    Send Invite
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>