<div class="modal-body layout-md">
    <div class="modal-top-btns text-end">
        <a href="">
            <span class="icon-download"></span>
        </a>
        <a href="" class="print-btn">
            <img class="img-fluid" src="../../../../../assets/images/icons/printer.png" alt="Print">
        </a>
    </div>
    <div class="modal-head-rw">
        <h2>
            <span class="text-primary">CRL</span> ink
        </h2>
    </div>
    <div class="modal-inner">
        <tabset class="tab-nav-start tab-content-padd-type2">
            <tab>
                <ng-template tabHeading>
                    <span class="d-inline-flex flex-column text-center">
                        <label>
                            Procedure
                        </label>
                    </span>
                </ng-template>
                <div class="tab-inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center" style="width:90px;">Sr. No</th>
                                    <th scope="col">Procedure</th>
                                    <th scope="col" style="width:140px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Informed Consent</td>
                                    <td>$100.00</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Inclusion/Exclusion Criteria</td>
                                    <td>$75.00</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Medical History and Demographics</td>
                                    <td>$100.00</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>Standard ECG</td>
                                    <td>$125.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Physical Examination(includes vital signs)</td>
                                    <td>$210.00</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Vital Sign</td>
                                    <td>$40.00</td>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>Blood Collection (includes processing/shipping)</td>
                                    <td>$80.00</td>
                                </tr>
                                <tr>
                                    <td>08</td>
                                    <td>Blood Collection post infusion (includes processing/shipping)</td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <td>09</td>
                                    <td>Core Set Measures</td>
                                    <td>$250.00</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>CDASI</td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>SF-36 Health Survey</td>
                                    <td>$30.00</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Wells Score for DVT</td>
                                    <td>$20.00</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Wells Score for PE</td>
                                    <td>$20.00</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Infusion of IMP (infusion may take 2-5 days in the first period, 2 days in the
                                        extension period</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Concomitant Medications</td>
                                    <td>$35.00</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Adverse Events</td>
                                    <td>$45.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span class="d-inline-flex flex-column text-center">
                        <label>
                            Non-Procedure
                        </label>
                    </span>
                </ng-template>
                <div class="tab-inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center" style="width:90px;">Sr. No</th>
                                    <th scope="col">Procedure</th>
                                    <th scope="col" style="width:140px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Study Coordinator/Nurse Fee - Complex Visit - Infusion days may take 2-5 days, 2
                                        days in the Extension Period</td>
                                    <td>$200.00</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Principal Investigator Fee Simple Visits</td>
                                    <td>$225.00</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Pharmacy Complex</td>
                                    <td>$150.00</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>Patient Reimbursement</td>
                                    <td>$80.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>UV = Unsceduled Visit V=Visit</td>
                                    <td>$210.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span class="d-inline-flex flex-column text-center">
                        <label>
                            Additional Charges
                        </label>
                    </span>
                </ng-template>
                <div class="tab-inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:90px;">Sr. No</th>
                                    <th scope="col">Procedure</th>
                                    <th scope="col" style="width:140px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <strong>
                                            Additional One-time fees
                                        </strong>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Study Start-up Fee (non-refundable)</td>
                                    <td>$225.00</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Pharmacy fee</td>
                                    <td>$150.00</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>Document storage/archiving</td>
                                    <td>$80.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>SAE fee</td>
                                    <td>$210.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Protocol Amendment Fee</td>
                                    <td>$210.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Reconsent Fee</td>
                                    <td>$210.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>IND Safety Report</td>
                                    <td>$210.00/<span class="amount-lbl">Per Report</span></td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Sponsor/FDA Audit Fee</td>
                                    <td>$210.00/<span class="amount-lbl">Day</span></td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Study Closeout Fee</td>
                                    <td>$1000.00</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Additional Invoiceable</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Patient travel/overnight reimbursement</td>
                                    <td>$1000.00</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Blood Collection for D-Dimers (includes processing/shipping)</td>
                                    <td>$1000.00</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Doppler Scan</td>
                                    <td>$1000.00</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Doppler Scan</td>
                                    <td>$1000.00</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Additional infusion days if required for first period beyond 2 days (includes
                                        infusion and SC/Nurse Time at rates set forth above)</td>
                                    <td>$210.00/<span class="amount-lbl">Per Day</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>