<div class="page-inner layout-md">
    <div class="card-wrapper">
        <div class="head-blc">
            <h2>Signed and Dated Informed Consentt</h2>
        </div>
        <div class="inner-body padd2">
            <div class="upload-consent-wrapper">
                <div class="section-row">
                    <div class="consent-txt-blc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta quam dui, in bibendum
                            purus imperdiet sed. Sed ut
                            elit egestas, accumsan eros et, pellentesque ligula. In molestie consequat nunc in
                            fermentum.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-2">
                                <label>
                                    Browse
                                </label>
                                <div class="upload-file-blc d-flex">
                                    <div class="left-col flex-fill">
                                        <div class="browse-file-blc d-flex position-relative">
                                            <input class="form-control position-absolute" type="file" id="attachment"
                                                multiple>
                                            <button class="btn btn-link position-relative text-decoration-none">
                                                Choose File
                                            </button>
                                            <div class="input-cell d-flex align-items-center flex-fill">
                                                <span>No file chosen</span>
                                            </div>
                                        </div>
                                        <div class="msg">
                                            Accepted File Type: JPG, PNG, doc and Docx
                                            only
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    Field Error Message.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="consent-link-rw text-end">
                        <a href="" class="text-decoration-underline">
                            Audit Log
                        </a>
                    </div>
                    <div class="form-group consent-comment-blc">
                        <label for="leaveComment">
                            Comment
                        </label>
                        <textarea id="leaveComment" type="text" name="leaveComment" class="form-control"></textarea>
                        <div class="invalid-feedback">
                            Field Error Message.
                        </div>
                    </div>
                    <div class="card-wrapper">
                        <div class="inner-body padd">
                            <div class="invite-wrapper">
                                <div class="invite-section layout-md">
                                    <div class="head">
                                        <h2>Molestieonsequat_001 . PDF</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor eros
                                            suscipit
                                            consequat blandit. Nam eget lectus
                                            quis lorem rutrum viverra non in libero. Aliquam lectus justo, volutpat nec
                                            nunc
                                            eget.
                                        </p>
                                    </div>
                                    <div class="info-row d-flex">
                                        <div class="left-col info-col d-flex flex-wrap">
                                            <label class="d-inline-flex">
                                                <span>
                                                    Conditions:
                                                </span>
                                                Covid-19
                                            </label>
                                            <label class="d-inline-flex">
                                                <span>
                                                    Organization Name:
                                                </span>
                                                Pharma Company
                                            </label>
                                            <label class="d-inline-flex">
                                                <span>
                                                    Status:
                                                </span>
                                                Approved
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot d-flex align-items-center justify-content-end">
                            <a href="">
                                <span class="icon-download"></span>
                            </a>
                            <a href="" class=" text-danger-dark">
                                <span class="icon-trash2"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-btns text-end  mt-5">
                        <button class="btn btn-primary">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>