
<div class="table-responsive">
  <div class="example-container">

      <span id="tableComponentScrollableTableStartsHere">
         
          <div>
              <div class="scrollable-table">
                  <span id="tableComponentScrollableMatTableAreaStartsHere">

                      <table mat-table id="tableComponentMatTable" #table [dataSource]="dataSource"
                          class="mat-elevation-z8" matSort (matSortChange)="onSortData($event)">

                          <ng-container [matColumnDef]="column.key" *ngFor="let column of displayedColumns1">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.isSort"
                                  disableClear width='{{column.width}}'> {{column.displayName}} </th>
                              <td> static </td>
                              <td mat-cell *matCellDef="let element" [style.color]="element[column.key]"
                                  (click)="gettate(1,element)">
                                  <span class={{column.class}} *ngIf="!column.type"
                                      [innerHTML]="element[column.key]"></span>
                                  <i *ngIf="column.isInfo && element[column.key]" [matTooltip]="element[column.key]"
                                      matTooltipClass="example-tooltip" class="fa fa-info-circle infoIcon"></i>
                                  <span class={{column.class}}
                                      *ngIf="column.type && column.type!='date' && column.type && column.type!='datetime' && column.type!='decimal' && column.type!='roundspan' && column.type!='togglespan' && column.type!='checkss' && column.type!='checkss1' && column.type!='discountinue' && column.type!='vitalshrValue' && column.type!='vitalsTempValue' && column.type!='vitalsSbpvalue' && column.type!='vitalsDbpvalue'  && column.type!='vitalsRrValue' 
         && column.type!='vitalsSatvalue' && column.type!='vitalsBmivalue'  && column.type!='vitalsRbsValue' && column.type!='vitalsFbsValue' && column.type!='approveDeny' && column.type!='signedRequested'"
                                      [innerHTML]="element[column.key] | status:column.type "></span>

                                  <span class={{column.class}} *ngIf="column.type=='date'"
                                      [innerHTML]="element[column.key] | date:'MM/dd/yyyy'"></span>

                                  <span class={{column.class}} *ngIf="column.type=='datetime'"
                                      [innerHTML]="element[column.key] | date:'MM/dd/yyyy, h:mm a'"></span>

                                  <span class={{column.class}} *ngIf="column.type=='decimal'"
                                      [innerHTML]="element[column.key] |number:'2.2-2'"></span>
                                  <span class={{column.class}} *ngIf="column.type=='roundspan'"
                                      [innerHTML]="element[column.key] |span"></span>

                                  <span *ngIf="column.type=='vitalshrValue'"
                                      [ngClass]="{'redColor': element[column.key]>100 || element[column.key]<60}"
                                      [innerHTML]="element[column.key]"></span>
                                  <span *ngIf="column.type=='vitalsSbpvalue'"
                                      [ngClass]="{'redColor': element[column.key]>140 || element[column.key]<90}"
                                      [innerHTML]="element[column.key]"></span>
                                  <span *ngIf="column.type=='vitalsDbpvalue'"
                                      [ngClass]="{'redColor': element[column.key]>90 || element[column.key]<60}"
                                      [innerHTML]="element[column.key]"></span>
                                  <span *ngIf="column.type=='vitalsRrValue'"
                                      [ngClass]="{'redColor':  element[column.key]>20 || element[column.key]<16}"
                                      [innerHTML]="element[column.key]"></span>
                                  <span *ngIf="column.type=='approveDeny'">
                                     <span *ngIf="element[column.key] == 'DENIED'" class="deny_status" [innerHTML]="element[column.key]"></span>
                                     <span *ngIf="element[column.key] == 'APPROVED'" class="approve_status" [innerHTML]="element[column.key]"></span>
                                     <span *ngIf="element[column.key] == 'REQUESTED'" class="request_status" [innerHTML]="element[column.key]"></span>
                                  </span>

                                  <span *ngIf="column.type=='signedRequested'">
                                     <span *ngIf="element[column.key] == 'SIGNED'" class="approve_status" [innerHTML]="element[column.key]"></span>
                                     <span *ngIf="element[column.key] == 'REQUESTED'" class="request_status" [innerHTML]="element[column.key]"></span>
                                  </span>

                                  <span *ngIf="column.type=='togglespan'" class={{column.class}}>
                                      <mat-slide-toggle [checked]="element[column.key]"
                                          [disabled]="!column.permission"
                                          (change)="onToggleClick('toggle',element,column, $event)">
                                      </mat-slide-toggle>
                                  </span>
                                  
                                  <span *ngIf="column.type=='checkss'" class={{column.class}}>
                                      <mat-checkbox [checked]="element[column.key]" [disabled]="element[column.key]"
                                          (change)="onToggleClick('toggle',element,column,$event)"> </mat-checkbox>

                                  </span>

                                  <span *ngIf="column.type=='checkss1' && element[column.key]" class={{column.class}}>
                                      <button mat-button
                                          (click)="onToggleClick('toggleREORDER',element,column, $event)">Reorder</button>
                                  </span>

                                  <span *ngIf="column.type=='discountinue' && element[column.key]"
                                      class={{column.class}}>
                                      <button mat-button
                                          (click)="onToggleClick('discountinue',element,column, $event)">Y</button>
                                  </span>

                              </td>
                          </ng-container>

                          <ng-container matColumnDef="Actions" *ngFor="let column of extraColumns">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"
                                  width='{{column.width}}'>Actions</th>
                              <td mat-cell *matCellDef="let row">
                                  <div class="custom-actions">
                                      <button *ngFor="let a of actionButtons" class="tbactionbtn"
                                          (click)='onActionClick(a.key, row)' matTooltip="{{a.displayName}}">
                                          <i *ngIf="a.type == 'icon'" class="{{a.class}}" aria-hidden="true"></i>
                                      </button>
                                  </div>
                              </td>
                              <td mat-footer-cell *matFooterCellDef> Cost </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                      </table>
                  </span>
              </div>

              <!-- <span id="tableComponentIndividualMatPaginatorBlockArea">
                  <mat-paginator id="tableComponentIndividualMatPaginator" #paginator [length]="paginatorTotalLength"
                      [pageIndex]="metaData['pageIndex'] - 1" [pageSize]="metaData['pageSize']"
                      [pageSizeOptions]="pageSizeOptions" itemsPerPageLabel="Records Per Page"
                      showFirstLastButtons="true" (page)="pageEventPropogate($event)">
                  </mat-paginator>
              </span> -->

          </div>
      </span>
  </div>
</div>