<div class="profile-breif-card flex-fill">
    <div class="head-blc">
        <h2>PC: PP-001</h2>
    </div>
    <div class="inner d-flex">
        <div class="pic-cell rounded-circle">
            <img class="img-fluid rounded-circle" src="../../../../assets/images/user.png" alt="User">
        </div>
        <div class="txt-cell">
            <p>
                <label>
                    First Name:
                </label>
                <span>
                    Robert
                </span>
            </p>
            <p>
                <label>
                    Last Name:
                </label>
                <label>
                    Wilson
                </label>
            </p>
            <p>
                <label>
                    Email Address:
                </label>
                <span>
                    robertwilson@ab.com
                </span>
            </p>
            <p>
                <label>
                    Active/Inactive:
                </label>
                <span>
                    Active
                </span>
            </p>
            <p>
                <label>
                    Status:
                </label>
                <span>
                    Free
                </span>
            </p>
        </div>
    </div>
    <div class="foot-blc d-flex align-items-center justify-content-end">
        <button class="eye btn btn-link shadow-none text-decoration-none d-inline-flex">
            <span class="icon-eye"></span>
        </button>
        <button class="btn btn-success btn-fill-last">
            Accepted
        </button>
        <button class="btn btn-danger btn-fill">
            Declined
        </button>
    </div>
</div>