<div class="page-inner">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc d-flex align-items-center">
                <h2>Manage Clinical Trials</h2>
                <div class="right-col ms-auto">
                    <button class="btn btn-btn-link back-btn d-inline-flex align-items-center">
                        <span class="icon-arrow-left"></span>
                        Back
                    </button>
                </div>
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invites Received
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="invite-wrapper">
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>CTS - 001</h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-section layout-md">
                                                    <div class="head">
                                                        <h2>Low Dose Radiation Therapy for Covid-19 Pneumonia</h2>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Mauris
                                                            tempor eros suscipit consequat blandit. Nam eget lectus
                                                            quis lorem rutrum viverra non in libero. Aliquam lectus
                                                            justo,
                                                            volutpat nec nunc eget.
                                                        </p>
                                                    </div>
                                                    <div class="info-row2 d-flex">
                                                        <div class="left-col info-col d-flex flex-column flex-fill">
                                                            <div class="left-col-rw">
                                                                <div class="inner-row">
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Invite Sent By
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                Alexander
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Org Name
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                Pharma Company
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="left-col-rw">
                                                                <div class="inner-row">
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Invite Sent Date
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                27/08/2021
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Condition
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                COVID-19
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="right-col d-flex flex-column justify-content-center">
                                                            <button class="btn btn-success">Accepted</button>
                                                            <button class="btn btn-danger">Declined</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                    </section>
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>CTS - 001</h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-section layout-md">
                                                    <div class="head">
                                                        <h2>Low Dose Radiation Therapy for Covid-19 Pneumonia</h2>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Mauris
                                                            tempor eros suscipit consequat blandit. Nam eget lectus
                                                            quis lorem rutrum viverra non in libero. Aliquam lectus
                                                            justo,
                                                            volutpat nec nunc eget.
                                                        </p>
                                                    </div>
                                                    <div class="info-row2 d-flex">
                                                        <div class="left-col info-col d-flex flex-column flex-fill">
                                                            <div class="left-col-rw">
                                                                <div class="inner-row">
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Invite Sent By
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                Alexander
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Org Name
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                Pharma Company
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="left-col-rw">
                                                                <div class="inner-row">
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Invite Sent Date
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                27/08/2021
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cell">
                                                                        <div class="cell-rw d-flex">
                                                                            <span class="label">
                                                                                Condition
                                                                            </span>
                                                                            <span class="label-desc">
                                                                                COVID-19
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="right-col d-flex flex-column justify-content-center">
                                                            <button class="btn btn-success">Accepted</button>
                                                            <button class="btn btn-danger">Declined</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invites Update
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="invite-wrapper">
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>
                                                    <a href="">Low Dose Radiation Therapy for Covid-19 Pneumonia</a>
                                                </h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-section layout-md">
                                                    <div class="head">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Mauris
                                                            tempor eros suscipit consequat blandit. Nam eget lectus
                                                            quis lorem rutrum viverra non in libero. Aliquam lectus
                                                            justo,
                                                            volutpat nec nunc eget.
                                                        </p>
                                                    </div>
                                                    <div class="info-row d-flex">
                                                        <div class="left-col info-col d-flex flex-wrap">
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Patient Name:
                                                                </span>
                                                                Alex
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Status:
                                                                </span>
                                                                Approved
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Interventions:
                                                                </span>
                                                                No intervention
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Org Name:
                                                                </span>
                                                                Pharma Company
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Condition:
                                                                </span>
                                                                COVID-19
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Date:
                                                                </span>
                                                                30/9/2021
                                                            </label>
                                                        </div>
                                                        <div class="right-col text-end ms-auto">
                                                            <button
                                                                class="btn btn-primary invite-upload-btn position-relative">
                                                                Upload Consent
                                                                <input type="file"
                                                                    class="browse-input position-absolute">
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>