<div class="page-inner">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc d-flex align-items-center">
                <h2>Manage Clinical Trials</h2>
                <div class="right-col ms-auto">
                    <button class="btn btn-btn-link back-btn d-inline-flex align-items-center">
                        <span class="icon-arrow-left"></span>
                        Back
                    </button>
                </div>
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Ongoing Study
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <section class="section-row">
                                    <div class="card-wrapper2 shadow">
                                        <div class="head-blc2">
                                            <h2>Search</h2>
                                        </div>
                                        <div class="inner-body layout-md">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="name">Name</label>
                                                        <input type="text" name="name" id="name" class="form-control">
                                                        <div class="invalid-feedback">This Feild is Required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="conditions">Conditions</label>
                                                        <input type="text" name="conditions" id="conditions"
                                                            class="form-control">
                                                        <div class="invalid-feedback">This Feild is Required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="site">Site</label>
                                                        <select class="form-select form-control" id="site"
                                                            aria-label="Default select example">
                                                            <option selected>Open this select menu</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                        <div class="invalid-feedback">This Feild is Required.</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-btns multiple text-end">
                                                        <button class="btn btn-primary">
                                                            Clear
                                                        </button>
                                                        <button class="btn btn-primary">
                                                            Search
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="section-row">
                                    <div class="card-wrapper">
                                        <div class="head-blc d-flex align-items-center">
                                            <h2>CTS - 001</h2>
                                            <div class="right-col ms-auto">
                                                <label class="location-lbl">
                                                    Locations:<span>USA</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="inner-body padd">
                                            <div class="invite-wrapper">
                                                <div class="invite-section layout-md">
                                                    <div class="head">
                                                        <h2>The Heart Hive COVID-19 Study</h2>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Mauris
                                                            tempor eros suscipit consequat blandit. Nam eget
                                                            lectus
                                                            quis lorem rutrum viverra non in libero. Aliquam lectus
                                                            justo,
                                                            volutpat nec nunc eget.
                                                        </p>
                                                    </div>
                                                    <div class="info-row d-flex">
                                                        <div class="left-col info-col d-flex flex-wrap">
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Conditions:
                                                                </span>
                                                                Covid-19
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Organization Name:
                                                                </span>
                                                                Pharma Company
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Status:
                                                                </span>
                                                                Approved
                                                            </label>
                                                        </div>
                                                        <div class="right-col text-end ms-auto">
                                                            <button class="btn btn-primary">
                                                                Monitor
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>