<div class="breif-wrapper d-flex">
    <a href="#" class="d-flex flex-column flex-fill breif-card primary-gradient">
        <div class="inner-rw d-flex">
            <div class="left flex-fill">
                <h2>200</h2>
                <h3>Total Participants</h3>
            </div>
            <div class="right d-flex flex-column">
                <span class="icons-cell icon1">
                    <span class="icon-user-group-line"></span>
                </span>
            </div>
        </div>
    </a>
    <a href="#" class="d-flex flex-column flex-fill breif-card success-gradient">
        <div class="inner-rw d-flex">
            <div class="left flex-fill">
                <h2>20</h2>
                <h3>New Participants</h3>
            </div>
            <div class="right d-flex flex-column">
                <span class="icons-cell icon1">
                    <span class="icon-user-line"></span>
                </span>
            </div>
        </div>
    </a>
    <a href="#" class="d-flex flex-column flex-fill breif-card warning-gradient">
        <div class="inner-rw d-flex">
            <div class="left flex-fill">
                <h2>60</h2>
                <h3>Free Participants</h3>
            </div>
            <div class="right d-flex flex-column">
                <span class="icons-cell icon1">
                    <span class="icon-user-group-line2"></span>
                </span>
            </div>
        </div>
    </a>
    <a href="#" class="d-flex flex-column flex-fill breif-card danger-gradient">
        <div class="inner-rw d-flex">
            <div class="left flex-fill">
                <h2>100</h2>
                <h3>In Trial</h3>
            </div>
            <div class="right d-flex flex-column">
                <span class="icons-cell icon1">
                    <span class="icon-clinical"></span>
                </span>
            </div>
        </div>
    </a>
    <a href="#" class="d-flex flex-column flex-fill breif-card info-gradient">
        <div class="inner-rw d-flex">
            <div class="left flex-fill">
                <h2>20</h2>
                <h3>In Queue</h3>
            </div>
            <div class="right d-flex flex-column">
                <span class="icons-cell icon1">
                    <span class="icon-user-group-line3"></span>
                </span>
            </div>
        </div>
    </a>
</div>